{% extends 'layout/base.html' %} {% block title %}Cart{% endblock %} {% block css %} 
<link href="{{ url_for('static', filename='css/client/changepass.css') }}" rel="stylesheet" />       
{% endblock %} {% block header %} {% include 'layout/header.html' %} {% endblock %} {% block content %}


{% if err_msg %}
<div class="alert alert-danger">
  <h4>{{ err_msg }}</h4>
</div>
{% endif %} 


<div class="container">
	<div class="row">
		<div class="col-sm-4">
		    
		    <form method="post">
            ID: <input type = "text" name = "id" value="{{ current_user.id }}" style="display: none"/>
            
                <label>Current Password</label>
		    <div class="form-group pass_show"> 
                <input type="password" class="form-control" placeholder="Current Password" name="CurrentPassword" id="CurrentPassword"> 
            </div> 
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="password" class="form-control" placeholder="New Password" name="NewPassword" id="NewPassword"> 
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword"> 
            </div> 
            <div>
                 <input type = "submit" class="btn" value="Change"/>
            </div>
            </form>
		</div>  
	</div>
</div>

{% endblock %}