{% extends 'layout/base.html' %} {% block title %}Products{% endblock %} {% block css %} {% endblock %} {% block header %} {% include 'layout/header.html' %} {% endblock %} {% block content %}
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">

                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                {% if pages > 1 %}
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="{{ url_for('product_list', page=page-1) }}">Previous</a></li>
                                    {% for idx in range(1, pages+1) %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('product_list', page=idx) }}">{{ idx }}</a></li>
                                    {% endfor %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('product_list', page=page+1) }}">Next</a></li>
                                </ul>
                                {% endif %}
                                <div class="row">
                                    {% for b in products %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{{ url_for('book_detail', book_id=b.id) }}">
                                                    <img class="default-img" src="{{ b.image }}" alt="{{ b.name }}" style="max-height: 262px;">
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action">
                                                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                        <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                        <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                    </div>
                                                    <div class="product-action-2">
                                                        <a title="Add to cart" href="#" onclick="addToCart({{ b.id }}, '{{ b.name }}', {{ b.price }}, '{{ b.image }}')">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content" style="text-align:center;">
                                                <h3><a href="{{ url_for('book_detail', book_id=b.id) }}">{{ b.name }}</a></h3>
                                                <div class="product-price">
                                                    <span>{{ "{:,.0f}".format(b.price) }} VND</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}